<ion-content [fullscreen]="true" class="ion-padding ion-content-scroll">
  <p class="taxpayer-text">Taxpayer (T) Information</p>

  <ion-row>
    <ion-col size="6">
      <ion-text class="ion-text-box">
        <h1 class="ion-text-label">First & Middle Name*</h1>
      </ion-text>
      <ion-item lines="none" class="ion-no-padding">
        <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
          [(ngModel)]="base_data.first_name_t"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-text class="ion-text-box">
        <h1 class="ion-text-label">Last name*</h1>
      </ion-text>
      <ion-item lines="none" class="ion-no-padding">
        <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
          [(ngModel)]="base_data.last_name_t"></ion-input>
      </ion-item>
    </ion-col>

    <ion-col size="6">
      <ion-text class="ion-text-box">
        <h1 class="ion-text-label">Date Of Birth</h1>
      </ion-text>
      <ion-item lines="none" class="ion-no-padding posRelative">
        <input class="ion-input-tag date" [(ngModel)]="base_data.date_of_birth_t" [matDatepicker]="t_dob"
          (click)="t_dob.open()" placeholder="Select Date" readonly>
        <mat-datepicker #t_dob color="primary"></mat-datepicker>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-text class="ion-text-box">
        <h1 class="ion-text-label">Occupation</h1>
      </ion-text>
      <ion-item lines="none" class="ion-no-padding">
        <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
          [(ngModel)]="base_data.occupation_t"></ion-input>
      </ion-item>
    </ion-col>

    <ion-col size="12">
      <ion-text class="ion-text-box">
        <h1 class="ion-text-label">Filling Status</h1>
      </ion-text>
      <ion-item lines="none" class="ion-no-padding">
        <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"></ion-input>
      </ion-item>
    </ion-col>

    <ion-col size="12">
      <ion-text class="ion-text-box">
        <h1 class="ion-text-label">Social Security No./ITIN</h1>
      </ion-text>
      <ion-item lines="none" class="ion-no-padding">
        <ion-input [legacy]="true" type="Number" placeholder="Enter" class="ion-input-tag"
          [(ngModel)]="base_data.social_security_no_t"></ion-input>
      </ion-item>
    </ion-col>

    <ion-col size="12">
      <ion-text class="ion-text-box">
        <h1 class="ion-text-label">Email ID</h1>
      </ion-text>
      <ion-item lines="none" class="ion-no-padding">
        <ion-input [legacy]="true" type="Email" placeholder="Enter" class="ion-input-tag"
          [(ngModel)]="base_data.email_t"></ion-input>
      </ion-item>
    </ion-col>

    <ion-col size="12">
      <ion-text class="ion-text-box">
        <h1 class="ion-text-label">Phone Number</h1>
      </ion-text>
      <ion-item lines="none" class="ion-no-padding">
        <ion-input [legacy]="true" type="Number" placeholder="Enter" class="ion-input-tag"
          [(ngModel)]="base_data.phone_t"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="12">
      <p class="taxpayer-text">Spouse (S) Information</p>
    </ion-col>
    <ion-col size="6">
      <ion-text class="ion-text-box">
        <h1 class="ion-text-label">First & Middle Name*</h1>
      </ion-text>
      <ion-item lines="none" class="ion-no-padding">
        <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
          [(ngModel)]="base_data.first_name_s"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-text class="ion-text-box">
        <h1 class="ion-text-label">Last name*</h1>
      </ion-text>
      <ion-item lines="none" class="ion-no-padding">
        <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
          [(ngModel)]="base_data.last_name_s"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-text class="ion-text-box">
        <h1 class="ion-text-label">Date Of Birth</h1>
      </ion-text>
      <ion-item lines="none" class="ion-no-padding posRelative">
        <input class="ion-input-tag date" [(ngModel)]="base_data.date_of_birth_s" [matDatepicker]="s_dob"
          (click)="s_dob.open()" placeholder="Select Date" readonly>
        <mat-datepicker #s_dob color="primary"></mat-datepicker>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-text class="ion-text-box">
        <h1 class="ion-text-label">Occupation</h1>
      </ion-text>
      <ion-item lines="none" class="ion-no-padding">
        <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
          [(ngModel)]="base_data.occupation_s"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="12">
      <ion-text class="ion-text-box">
        <h1 class="ion-text-label">Filling Status</h1>
      </ion-text>
      <ion-item lines="none" class="ion-no-padding">
        <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"></ion-input>
      </ion-item>
    </ion-col>

    <ion-col size="12">
      <ion-text class="ion-text-box">
        <h1 class="ion-text-label">Social Security No./ITIN</h1>
      </ion-text>
      <ion-item lines="none" class="ion-no-padding">
        <ion-input [legacy]="true" type="Number" placeholder="Enter" class="ion-input-tag"
          [(ngModel)]="base_data.social_security_no_s"></ion-input>
      </ion-item>
    </ion-col>

    <ion-col size="12">
      <ion-text class="ion-text-box">
        <h1 class="ion-text-label">Email ID</h1>
      </ion-text>
      <ion-item lines="none" class="ion-no-padding">
        <ion-input [legacy]="true" type="Email" placeholder="Enter" class="ion-input-tag"
          [(ngModel)]="base_data.email_s"></ion-input>
      </ion-item>
    </ion-col>

    <ion-col size="12">
      <ion-text class="ion-text-box">
        <h1 class="ion-text-label">Phone Number</h1>
      </ion-text>
      <ion-item lines="none" class="ion-no-padding">
        <ion-input [legacy]="true" type="Number" placeholder="Enter" class="ion-input-tag"
          [(ngModel)]="base_data.phone_s"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="12">
      <p class="taxpayer-text">Others Information</p>
    </ion-col>
    <ion-col size="12">
      <ion-checkbox labelPlacement="end" [(ngModel)]="base_data.taxpayer_legally_blind">Taxpayer Legally
        Blind</ion-checkbox><br>
      <ion-checkbox labelPlacement="end" [(ngModel)]="base_data.taxpayer_disabled">Taxpayer Disabled</ion-checkbox><br>
      <ion-checkbox labelPlacement="end" [(ngModel)]="base_data.spouse_legally_blind">Spouse Legally
        Blind</ion-checkbox><br>
      <ion-checkbox labelPlacement="end" [(ngModel)]="base_data.spouse_disabled">Spouse Disabled</ion-checkbox><br>
    </ion-col>
    <ion-col size="12">
      <p class="taxpayer-text">Mailing Address</p>
    </ion-col>
    <ion-col size="6">
      <ion-text class="ion-text-box">
        <h1 class="ion-text-label">Country</h1>
      </ion-text>
      <ion-select placeholder="Select" class="ion-input-tag" [(ngModel)]="base_data.country">
        <ion-select-option value="apple">Apple</ion-select-option>
        <ion-select-option value="banana">Banana</ion-select-option>
        <ion-select-option value="orange">Orange</ion-select-option>
      </ion-select>
    </ion-col>
    <ion-col size="6">
      <ion-text class="ion-text-box">
        <h1 class="ion-text-label">State</h1>
      </ion-text>
      <ion-select placeholder="Select" class="ion-input-tag" [(ngModel)]="base_data.state">
        <ion-select-option value="apple">Apple</ion-select-option>
        <ion-select-option value="banana">Banana</ion-select-option>
        <ion-select-option value="orange">Orange</ion-select-option>
      </ion-select>
    </ion-col>
    <ion-col size="6">
      <ion-text class="ion-text-box">
        <h1 class="ion-text-label">Zip</h1>
      </ion-text>
      <ion-item lines="none" class="ion-no-padding">
        <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
          [(ngModel)]="base_data.zip"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-text class="ion-text-box">
        <h1 class="ion-text-label">Apt#</h1>
      </ion-text>
      <ion-item lines="none" class="ion-no-padding">
        <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
          [(ngModel)]="base_data.apt"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="12">
      <ion-text class="ion-text-box">
        <h1 class="ion-text-label">City</h1>
      </ion-text>
      <ion-item lines="none" class="ion-no-padding">
        <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
          [(ngModel)]="base_data.city"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="12">
      <ion-text class="ion-text-box">
        <h1 class="ion-text-label">Postal Address</h1>
      </ion-text>
      <ion-item lines="none" class="ion-no-padding">
        <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
          [(ngModel)]="base_data.email2_t"></ion-input>
      </ion-item>
    </ion-col>

    <ion-col size="12">
      <ion-button expand="block" class="btn-save-nxt" (click)="next()">Save & Next
        <ion-icon slot="end" mode="ios" name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>