
<ion-content [fullscreen]="true" class="ion-padding ion-content-scroll">
    <p class="taxpayer-text">Taxpayer (T) Information</p>
  
    <ion-row>
      <ion-col size="6">
        <ion-text class="ion-text-box">
          <h1 class="ion-text-label">First & Middle Name*</h1>
        </ion-text>
        <ion-item lines="none" class="ion-no-padding">
          <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-text class="ion-text-box">
          <h1 class="ion-text-label">Last name*</h1>
        </ion-text>
        <ion-item lines="none" class="ion-no-padding">
          <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"></ion-input>
        </ion-item>
      </ion-col>
  
      <ion-col size="6">
        <ion-text class="ion-text-box">
          <h1 class="ion-text-label">Date Of Birth</h1>
        </ion-text>
        <ion-item lines="none" class="ion-no-padding posRelative">
          <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"></ion-input>
          <ion-img src="assets/icon/calander.svg" class="calander-posAbs"></ion-img>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-text class="ion-text-box">
          <h1 class="ion-text-label">Occupation</h1>
        </ion-text>
        <ion-item lines="none" class="ion-no-padding">
          <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"></ion-input>
        </ion-item>
      </ion-col>
  
      <ion-col size="12">
        <ion-text class="ion-text-box">
          <h1 class="ion-text-label">Filling Status</h1>
        </ion-text>
        <ion-item lines="none" class="ion-no-padding">
          <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"></ion-input>
        </ion-item>
      </ion-col>
  
      <ion-col size="12">
        <ion-text class="ion-text-box">
          <h1 class="ion-text-label">Social Security No./ITIN</h1>
        </ion-text>
        <ion-item lines="none" class="ion-no-padding">
          <ion-input [legacy]="true" type="Number" placeholder="Enter" class="ion-input-tag"></ion-input>
        </ion-item>
      </ion-col>
  
      <ion-col size="12">
        <ion-text class="ion-text-box">
          <h1 class="ion-text-label">Email ID</h1>
        </ion-text>
        <ion-item lines="none" class="ion-no-padding">
          <ion-input [legacy]="true" type="Email" placeholder="Enter" class="ion-input-tag"></ion-input>
        </ion-item>
      </ion-col>
  
      <ion-col size="12">
        <ion-text class="ion-text-box">
          <h1 class="ion-text-label">Phone Number</h1>
        </ion-text>
        <ion-item lines="none" class="ion-no-padding">
          <ion-input [legacy]="true" type="Number" placeholder="Enter" class="ion-input-tag"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <p class="taxpayer-text">Spouse (S) Information</p>
      </ion-col>
      <ion-col size="6">
        <ion-text class="ion-text-box">
          <h1 class="ion-text-label">First & Middle Name*</h1>
        </ion-text>
        <ion-item lines="none" class="ion-no-padding">
          <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-text class="ion-text-box">
          <h1 class="ion-text-label">Last name*</h1>
        </ion-text>
        <ion-item lines="none" class="ion-no-padding">
          <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-text class="ion-text-box">
          <h1 class="ion-text-label">First & Middle Name*</h1>
        </ion-text>
        <ion-item lines="none" class="ion-no-padding">
          <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-text class="ion-text-box">
          <h1 class="ion-text-label">Last name*</h1>
        </ion-text>
        <ion-item lines="none" class="ion-no-padding">
          <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-text class="ion-text-box">
          <h1 class="ion-text-label">Filling Status</h1>
        </ion-text>
        <ion-item lines="none" class="ion-no-padding">
          <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"></ion-input>
        </ion-item>
      </ion-col>
  
      <ion-col size="12">
        <ion-text class="ion-text-box">
          <h1 class="ion-text-label">Social Security No./ITIN</h1>
        </ion-text>
        <ion-item lines="none" class="ion-no-padding">
          <ion-input [legacy]="true" type="Number" placeholder="Enter" class="ion-input-tag"></ion-input>
        </ion-item>
      </ion-col>
  
      <ion-col size="12">
        <ion-text class="ion-text-box">
          <h1 class="ion-text-label">Email ID</h1>
        </ion-text>
        <ion-item lines="none" class="ion-no-padding">
          <ion-input [legacy]="true" type="Email" placeholder="Enter" class="ion-input-tag"></ion-input>
        </ion-item>
      </ion-col>
  
      <ion-col size="12">
        <ion-text class="ion-text-box">
          <h1 class="ion-text-label">Phone Number</h1>
        </ion-text>
        <ion-item lines="none" class="ion-no-padding">
          <ion-input [legacy]="true" type="Number" placeholder="Enter" class="ion-input-tag"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <p class="taxpayer-text">Others Information</p>
      </ion-col>
      <ion-col size="12">
        <ion-checkbox labelPlacement="end">Taxpayer Legally Blind</ion-checkbox>
        <ion-checkbox labelPlacement="end">Taxpayer Disabled</ion-checkbox>
        <ion-checkbox labelPlacement="end">Spouse Legally Blind</ion-checkbox>
        <ion-checkbox labelPlacement="end">Spouse Disabled</ion-checkbox>
      </ion-col>
      <ion-col size="12">
        <p class="taxpayer-text">Mailing Address</p>
      </ion-col>
      <ion-col size="6">
        <ion-text class="ion-text-box">
          <h1 class="ion-text-label">Country</h1>
        </ion-text>
        <!-- <ion-item lines="none" class="ion-no-padding"> -->
          <ion-select placeholder="Select"  toggleIcon="chevron-down-outline" class="ion-input-tag">
            <ion-select-option value="apple">Apple</ion-select-option>
            <ion-select-option value="banana">Banana</ion-select-option>
            <ion-select-option value="orange">Orange</ion-select-option>
          </ion-select>
          <!-- <ion-img src="assets/icon/arrow-down.svg" class="arrow-down-img"></ion-img> -->
        <!-- </ion-item> -->
      </ion-col>
      <ion-col size="6">
        <ion-text class="ion-text-box">
          <h1 class="ion-text-label">State</h1>
        </ion-text>
        <!-- <ion-item lines="none" class="ion-no-padding"> -->
          <ion-select placeholder="Select"  toggleIcon="chevron-down-outline" class="ion-input-tag">
            <ion-select-option value="apple">Apple</ion-select-option>
            <ion-select-option value="banana">Banana</ion-select-option>
            <ion-select-option value="orange">Orange</ion-select-option>
          </ion-select>
          <!-- <ion-img src="assets/icon/arrow-down.svg" class="arrow-down-img"></ion-img> -->
        <!-- </ion-item> -->
      </ion-col>
      <ion-col size="6">
        <ion-text class="ion-text-box">
          <h1 class="ion-text-label">City</h1>
        </ion-text>
        <ion-item lines="none" class="ion-no-padding">
          <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-text class="ion-text-box">
          <h1 class="ion-text-label">Apt#</h1>
        </ion-text>
        <ion-item lines="none" class="ion-no-padding">
          <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-text class="ion-text-box">
          <h1 class="ion-text-label">Street Name</h1>
        </ion-text>
        <ion-item lines="none" class="ion-no-padding">
          <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"></ion-input>
        </ion-item>
      </ion-col>
  
      <ion-col size="12">
        <ion-button expand="block" class="btn-save-nxt" (click)="next()">Save & Next
          <ion-icon slot="end" mode="ios" name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-content>