<ion-content [fullscreen]="true" class="ion-padding ion-content-scroll">
  <ion-accordion-group class="ion-group-div">
    <!-- First Accordian -->
    <ion-accordion value="first">
      <ion-item slot="header" class="ion-no-padding ">
        <ion-label class="accordion-lbl no-border">Business - General Information</ion-label>
      </ion-item>
      <ion-list class="ion-padding" slot="content" class="ion-no-padding ">
        <ion-label class="ion-text-label">Who owns(T/S)?</ion-label>
        <ion-item lines="none" class="ion-no-padding ">
          <ion-select placeholder="Select" class="ion-input-tag" interface="action-sheet"
            [(ngModel)]="business_income_and_expenses.who_owns_business_1">
            <ion-select-option *ngFor="let item of commonService.ownerTSJ" value={{item}}>{{item}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-label class="ion-text-label">What kind of business?</ion-label>
        <ion-item lines="none" class="ion-no-padding ">
          <ion-select placeholder="Select" class="ion-input-tag" interface="action-sheet"
            [(ngModel)]="business_income_and_expenses.what_kind_of_business_1">
            <ion-select-option *ngFor="let item of commonService.business_types"
              value={{item}}>{{item}}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-label class="ion-text-label">Business name</ion-label>
        <ion-item lines="none" class="ion-no-padding ">
          <ion-input [legacy]="true" type="text" placeholder="Enter"
            [(ngModel)]="business_income_and_expenses.business_name_business_1" class="ion-input-tag"></ion-input>
        </ion-item>

        <ion-label class="ion-text-label">Business employer identification number</ion-label>
        <ion-item lines="none" class="ion-no-padding ">
          <ion-input [legacy]="true" type="text" placeholder="Enter"
            [(ngModel)]="business_income_and_expenses.business_employer_identification_business_1"
            class="ion-input-tag"></ion-input>
        </ion-item>

        <ion-label class="ion-text-label">Business address</ion-label>
        <ion-item lines="none" class="ion-no-padding ">
          <ion-input [legacy]="true" type="text" placeholder="Enter"
            [(ngModel)]="business_income_and_expenses.business_address_business_1" class="ion-input-tag"></ion-input>
        </ion-item>

        <ion-label class="ion-text-label">Method of accounting</ion-label>
        <ion-item lines="none" class="ion-no-padding ">
          <ion-select placeholder="Select" class="ion-input-tag" interface="action-sheet"
            [(ngModel)]="business_income_and_expenses.method_of_accounting_business_1">
            <ion-select-option *ngFor="let item of commonService.accounting_methods"
              value={{item}}>{{item}}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none" class="ion-no-padding ">
          <ion-checkbox justify="start" labelPlacement="end" class="checkbox-box"><span class="ion-text-wrap">Did you
              start this business in 2023?
              If yes, date started?</span></ion-checkbox>
        </ion-item>

        <ion-item lines="none" class="ion-no-padding ">
          <ion-checkbox justify="start" labelPlacement="end" class="checkbox-box"><span class="ion-text-wrap">Did you
              end this business in 2023? If
              yes, date ended?</span></ion-checkbox>
        </ion-item>

        <ion-item lines="none" class="ion-no-padding ">
          <ion-checkbox justify="start" labelPlacement="end" class="checkbox-box"
            [(ngModel)]="business_income_and_expenses.were_you_involved_business_1"><span class="ion-text-wrap">Were you
              involved in the operations
              of this business on a regular, continuous, and substantial basis?</span></ion-checkbox>
        </ion-item>

        <ion-item lines="none" class="ion-no-padding ">
          <ion-checkbox justify="start" labelPlacement="end" class="checkbox-box"
            [(ngModel)]="business_income_and_expenses.have_you_prepared_business_1"><span class="ion-text-wrap">Have you
              prepared or will you prepare
              all required Forms 1099.</span></ion-checkbox>
        </ion-item>

        <ion-item lines="none" class="ion-no-padding ">
          <ion-checkbox justify="start" labelPlacement="end" class="checkbox-box "><span class="ion-text-wrap">Business
              - If you received any Forms
              1099-NEC, 1099-K or 1099-MISC, please provide copies</span></ion-checkbox>
        </ion-item>

      </ion-list>
    </ion-accordion>
    <!-- End First -->

    <!-- second Accordian -->
    <ion-accordion value="second">
      <ion-item slot="header" class="ion-no-padding ">
        <ion-label class="accordion-lbl no-border">Employees of Your Business</ion-label>
      </ion-item>
      <ion-list class="ion-padding" slot="content" class="ion-no-padding ">
        <ion-item lines="none" class="ion-no-padding ">
          <ion-checkbox justify="start" labelPlacement="end" class="checkbox-box"
            [(ngModel)]="business_income_and_expenses.did_you_have_employees_business_1"><span class="ion-text-wrap">Did
              you
              have employees?</span>
          </ion-checkbox>
        </ion-item>

        <ion-item lines="none" class="ion-no-padding ">
          <ion-checkbox justify="start" labelPlacement="end" class="checkbox-box"
            [(ngModel)]="business_income_and_expenses.did_you_have_business_1"><span class="ion-text-wrap">Did you
              have &lt; 50 full-time equivalent employees?</span></ion-checkbox>
        </ion-item>

        <ion-item lines="none" class="ion-no-padding ">
          <ion-checkbox justify="start" labelPlacement="end" class="checkbox-box"
            [(ngModel)]="business_income_and_expenses.did_you_pay_an_average_business_1"><span class="ion-text-wrap">Did
              you
              pay an average wage &lt; $50,000?</span></ion-checkbox>
        </ion-item>

        <ion-item lines="none" class="ion-no-padding ">
          <ion-checkbox justify="start" labelPlacement="end" class="checkbox-box"
            [(ngModel)]="business_income_and_expenses.did_you_pay_at_least_business_1"><span class="ion-text-wrap">Did
              you
              pay at least half of the
              employees' healthinsurance premiums?</span></ion-checkbox>
        </ion-item>
        <ion-item lines="none" class="ion-no-padding ">
          <ion-label class="ion-text-label ion-text-label-orange"><span class="ion-text-wrap">Provide a copy of Form
              1094-C, if applicable</span>
          </ion-label>
        </ion-item>
        <ion-item lines="none" class="ion-no-padding ">
          <ion-checkbox aria-checked="true" justify="start" labelPlacement="end" class="checkbox-box"><span
              class="ion-text-wrap">Expense - Wages
              (may need to provide payroll reports)</span></ion-checkbox>
        </ion-item>
        <ion-label class="ion-text-label">Amount</ion-label>
        <ion-item lines="none" class="ion-no-padding ">
          <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
            [(ngModel)]="business_income_and_expenses.expense_wages_business_1"></ion-input>
        </ion-item>
        <ion-item lines="none" class="ion-no-padding ">
          <ion-checkbox justify="start" labelPlacement="end" class="checkbox-box"><span class="ion-text-wrap">Expense -
              Dependent care benefits
            </span></ion-checkbox>
        </ion-item>
        <ion-item lines="none" class="ion-no-padding ">
          <ion-checkbox justify="start" labelPlacement="end" class="checkbox-box "><span class="ion-text-wrap">Expense -
              Employee health insurance
              and benefit programs (other than pension & profit-sharing plans).</span></ion-checkbox>
        </ion-item>
        <ion-item lines="none" class="ion-no-padding ">
          <ion-checkbox justify="start" labelPlacement="end" class="checkbox-box "><span class="ion-text-wrap">Expense -
              Pension & profit-sharing
              plans.</span></ion-checkbox>
        </ion-item>
        <ion-item lines="none" class="ion-no-padding ">
          <ion-checkbox justify="start" labelPlacement="end" class="checkbox-box "><span class="ion-text-wrap">Expense -
              Employee reimbursements for
              medical expenses or health insurance premiums.</span></ion-checkbox>
        </ion-item>

      </ion-list>
    </ion-accordion>
    <!-- End Second -->

    <!-- third Accordian -->
    <ion-accordion value="third">
      <ion-item slot="header" class="ion-no-padding ">
        <ion-label class="accordion-lbl no-border">Self-Employed Owner Expenses and Retirement Contributions</ion-label>
      </ion-item>
      <ion-list class="ion-padding" slot="content" class="ion-no-padding ">
        <ion-label class="ion-text-label">Health insurance premiums paid for yourself and your dependents</ion-label>
        <ion-item lines="none" class="ion-no-padding ">
          <ion-input [legacy]="true" type="text" placeholder="Enter"
            [(ngModel)]="business_income_and_expenses.health_insurance_business_1" class="ion-input-tag"></ion-input>
        </ion-item>
        <ion-label class="ion-text-label">Do you already have a self-employed retirement plan?</ion-label>
        <ion-item lines="none" class="ion-no-padding ">
          <ion-select placeholder="Select" class="ion-input-tag" interface="action-sheet"
            [(ngModel)]="business_income_and_expenses.do_you_already_business_1">
            <ion-select-option *ngFor="let item of commonService.yesNoArray" value={{item}}>{{item}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-label class="ion-text-label">What type (SEP IRA, SIMPLE, SOLO 401k, etc.)?</ion-label>
        <ion-item lines="none" class="ion-no-padding ">
          <ion-input [legacy]="true" type="text" placeholder="Enter"
            [(ngModel)]="business_income_and_expenses.what_type_business_1" class="ion-input-tag"></ion-input>
        </ion-item>
        <ion-label class="ion-text-label">What amount did you contribute (or will you contribute) for 2023?
        </ion-label>
        <ion-item lines="none" class="ion-no-padding ">
          <ion-input [legacy]="true" type="text" placeholder="Enter"
            [(ngModel)]="business_income_and_expenses.what_amount_business_1" inputAmountFormat
            class="ion-input-tag"></ion-input>
        </ion-item>

        <ion-item lines="none" class="ion-no-padding ">
          <ion-checkbox justify="start" labelPlacement="end" class="checkbox-box" [(ngModel)]="business_income_and_expenses.do_you_want_to_business_1"><span class="ion-text-wrap">Do you
              want to contribute the maximum
              amount allowed for 2023? (we can calculate for you)</span></ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-accordion>
    <!-- End Accordian -->

    <!-- fourth Accordian -->
    <ion-accordion value="fourth">
      <ion-item slot="header" class="ion-no-padding ">
        <ion-label class="accordion-lbl no-border">Business Expenses</ion-label>
      </ion-item>
      <ion-list class="ion-padding" slot="content" class="ion-no-padding ">
        <ion-row>
          <ion-col size="6">
            <ion-text class="ion-text-box">
              <h1 class="ion-text-label">Advertising</h1>
            </ion-text>
            <ion-item lines="none" class="ion-no-padding">
              <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
                [(ngModel)]="business_income_and_expenses.first_name_t"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-text class="ion-text-box">
              <h1 class="ion-text-label">Contract labor</h1>
            </ion-text>
            <ion-item lines="none" class="ion-no-padding">
              <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
                [(ngModel)]="business_income_and_expenses.last_name_t"></ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="12">
            <ion-text class="ion-text-box">
              <h1 class="ion-text-label">Car and truck expenses (details needed)</h1>
            </ion-text>
            <ion-item lines="none" class="ion-no-padding posRelative">
              <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
                [(ngModel)]="business_income_and_expenses.last_name_t"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-text class="ion-text-box">
              <h1 class="ion-text-label">Parking fees and tolls</h1>
            </ion-text>
            <ion-item lines="none" class="ion-no-padding posRelative">
              <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
                [(ngModel)]="business_income_and_expenses.last_name_t"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-text class="ion-text-box">
              <h1 class="ion-text-label">Commissions and fees</h1>
            </ion-text>
            <ion-item lines="none" class="ion-no-padding posRelative">
              <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
                [(ngModel)]="business_income_and_expenses.last_name_t"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-text class="ion-text-box">
              <h1 class="ion-text-label">Insurance (other than health)</h1>
            </ion-text>
            <ion-item lines="none" class="ion-no-padding posRelative">
              <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
                [(ngModel)]="business_income_and_expenses.last_name_t"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-text class="ion-text-box">
              <h1 class="ion-text-label">Interest - mortgage (paid to banks)</h1>
            </ion-text>
            <ion-item lines="none" class="ion-no-padding posRelative">
              <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
                [(ngModel)]="business_income_and_expenses.last_name_t"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-text class="ion-text-box">
              <h1 class="ion-text-label">Interest – other</h1>
            </ion-text>
            <ion-item lines="none" class="ion-no-padding posRelative">
              <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
                [(ngModel)]="business_income_and_expenses.last_name_t"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-text class="ion-text-box">
              <h1 class="ion-text-label">Legal & professional fees</h1>
            </ion-text>
            <ion-item lines="none" class="ion-no-padding posRelative">
              <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
                [(ngModel)]="business_income_and_expenses.last_name_t"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-text class="ion-text-box">
              <h1 class="ion-text-label">Office expense</h1>
            </ion-text>
            <ion-item lines="none" class="ion-no-padding posRelative">
              <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
                [(ngModel)]="business_income_and_expenses.last_name_t"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-text class="ion-text-box">
              <h1 class="ion-text-label">Rent/Lease (vehicles, machinery, equipment)</h1>
            </ion-text>
            <ion-item lines="none" class="ion-no-padding posRelative">
              <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
                [(ngModel)]="business_income_and_expenses.last_name_t"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-text class="ion-text-box">
              <h1 class="ion-text-label">Rent/lease (other business property)</h1>
            </ion-text>
            <ion-item lines="none" class="ion-no-padding posRelative">
              <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
                [(ngModel)]="business_income_and_expenses.last_name_t"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-text class="ion-text-box">
              <h1 class="ion-text-label">Repairs and maintenance</h1>
            </ion-text>
            <ion-item lines="none" class="ion-no-padding posRelative">
              <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
                [(ngModel)]="business_income_and_expenses.last_name_t"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-text class="ion-text-box">
              <h1 class="ion-text-label">Supplies (not included in Cost of Goods Sold)</h1>
            </ion-text>
            <ion-item lines="none" class="ion-no-padding posRelative">
              <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
                [(ngModel)]="business_income_and_expenses.last_name_t"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-text class="ion-text-box">
              <h1 class="ion-text-label">Taxes and licenses</h1>
            </ion-text>
            <ion-item lines="none" class="ion-no-padding posRelative">
              <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
                [(ngModel)]="business_income_and_expenses.last_name_t"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-text class="ion-text-box">
              <h1 class="ion-text-label">Travel</h1>
            </ion-text>
            <ion-item lines="none" class="ion-no-padding posRelative">
              <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
                [(ngModel)]="business_income_and_expenses.last_name_t"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-text class="ion-text-box">
              <h1 class="ion-text-label">Meals</h1>
            </ion-text>
            <ion-item lines="none" class="ion-no-padding posRelative">
              <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
                [(ngModel)]="business_income_and_expenses.last_name_t"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-text class="ion-text-box">
              <h1 class="ion-text-label">Entertainment</h1>
            </ion-text>
            <ion-item lines="none" class="ion-no-padding">
              <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
                [(ngModel)]="business_income_and_expenses.occupation_t"></ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="6">
            <ion-text class="ion-text-box">
              <h1 class="ion-text-label">Utilities</h1>
            </ion-text>
            <ion-item lines="none" class="ion-no-padding">
              <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"></ion-input>
            </ion-item>
          </ion-col>

        </ion-row>
      </ion-list>
    </ion-accordion>
    <!-- End Accordian -->
    <ion-accordion value="fifth">
      <ion-item slot="header" class="ion-no-padding ">
        <ion-label class="accordion-lbl no-border">Inventory Information and Cost of Goods Sold</ion-label>
      </ion-item>
      <ion-list class="ion-padding" slot="content" class="ion-no-padding ">
        <ion-row>
          <ion-col size="12">
            <ion-checkbox labelPlacement="end" [(ngModel)]="business_income_and_expenses.taxpayer_legally_blind"><span
                class="ion-text-wrap">Did you have inventory in
                2023?</span></ion-checkbox>
          </ion-col>
          <ion-col size="12">
            <ion-text class="ion-text-box">
              <h1 class="ion-text-label">Inventory method</h1>
            </ion-text>
            <ion-select placeholder="Select" class="ion-input-tag" [(ngModel)]="business_income_and_expenses.country">
              <ion-select-option value="apple">Apple</ion-select-option>
              <ion-select-option value="banana">Banana</ion-select-option>
              <ion-select-option value="orange">Orange</ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col size="12">
            <ion-text class="ion-text-box">
              <h1 class="ion-text-label">Were there any changes in inventory method or valuation method?</h1>
            </ion-text>
            <ion-select placeholder="Select" class="ion-input-tag" [(ngModel)]="business_income_and_expenses.country">
              <ion-select-option value="apple">Apple</ion-select-option>
              <ion-select-option value="banana">Banana</ion-select-option>
              <ion-select-option value="orange">Orange</ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col size="12">
            <ion-text class="ion-text-box">
              <h1 class="ion-text-label">Beginning inventory (amount)</h1>
            </ion-text>
            <ion-item lines="none" class="ion-no-padding">
              <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
                [(ngModel)]="business_income_and_expenses.first_name_s"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-text class="ion-text-box">
              <h1 class="ion-text-label">Purchases less cost of items withdrawn for personal use</h1>
            </ion-text>
            <ion-item lines="none" class="ion-no-padding">
              <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
                [(ngModel)]="business_income_and_expenses.first_name_s"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-text class="ion-text-box">
              <h1 class="ion-text-label">Cost of labor (do not include amounts for yourself)</h1>
            </ion-text>
            <ion-item lines="none" class="ion-no-padding">
              <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
                [(ngModel)]="business_income_and_expenses.first_name_s"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-text class="ion-text-box">
              <h1 class="ion-text-label">Materials and supplies</h1>
            </ion-text>
            <ion-item lines="none" class="ion-no-padding">
              <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
                [(ngModel)]="business_income_and_expenses.first_name_s"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-text class="ion-text-box">
              <h1 class="ion-text-label">Other cost of goods sold</h1>
            </ion-text>
            <ion-item lines="none" class="ion-no-padding">
              <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
                [(ngModel)]="business_income_and_expenses.first_name_s"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-text class="ion-text-box">
              <h1 class="ion-text-label">Ending inventory (amount)</h1>
            </ion-text>
            <ion-item lines="none" class="ion-no-padding">
              <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
                [(ngModel)]="business_income_and_expenses.first_name_s"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <p class="taxpayer-text">Acquisitions of Business Assets during 2023</p>
          </ion-col>
          <ion-col size="12">
            <ion-text class="ion-text-box">
              <h1 class="ion-text-label">Description of Asset Acquired</h1>
            </ion-text>
            <ion-item lines="none" class="ion-no-padding">
              <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
                [(ngModel)]="business_income_and_expenses.first_name_s"></ion-input>
            </ion-item>
          </ion-col>


          <ion-col size="6">
            <ion-text class="ion-text-box">
              <h1 class="ion-text-label">Date</h1>
            </ion-text>
            <ion-item lines="none" class="ion-no-padding posRelative">
              <input class="ion-input-tag date" [(ngModel)]="business_income_and_expenses.date_of_birth_s"
                [matDatepicker]="s_dob" (click)="s_dob.open()" placeholder="Select Date" readonly>
              <mat-datepicker #s_dob color="primary"></mat-datepicker>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-text class="ion-text-box">
              <h1 class="ion-text-label">Cost</h1>
            </ion-text>
            <ion-item lines="none" class="ion-no-padding">
              <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
                [(ngModel)]="business_income_and_expenses.last_name_s"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12" class="ion-text-end">
            <ion-button class="add-btn">
              + Add Other
            </ion-button>
          </ion-col>
          <ion-col size="12">
            <p class="taxpayer-text">Dispositions of Business Assets during 2023</p>
          </ion-col>
          <ion-col size="12">
            <ion-text class="ion-text-box">
              <h1 class="ion-text-label">Description of Asset Acquired</h1>
            </ion-text>
            <ion-item lines="none" class="ion-no-padding">
              <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
                [(ngModel)]="business_income_and_expenses.first_name_s"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-text class="ion-text-box">
              <h1 class="ion-text-label">Cost</h1>
            </ion-text>
            <ion-item lines="none" class="ion-no-padding">
              <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
                [(ngModel)]="business_income_and_expenses.last_name_s"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-text class="ion-text-box">
              <h1 class="ion-text-label">Cost</h1>
            </ion-text>
            <ion-item lines="none" class="ion-no-padding">
              <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
                [(ngModel)]="business_income_and_expenses.last_name_s"></ion-input>
            </ion-item>
          </ion-col>

          <!-- <ion-col size="6">
            <ion-text class="ion-text-box">
              <h1 class="ion-text-label">Date</h1>
            </ion-text>
            <ion-item lines="none" class="ion-no-padding posRelative">
              <input class="ion-input-tag date" [(ngModel)]="business_income_and_expenses.date_of_birth_s" [matDatepicker]="s_dob"
                (click)="s_dob.open()" placeholder="Select Date" readonly>
              <mat-datepicker #s_dob color="primary"></mat-datepicker>
            </ion-item>
          </ion-col> -->

          <ion-col size="12" class="ion-text-end">
            <ion-button class="add-btn">
              + Add Other
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-list>
    </ion-accordion>

    <ion-accordion value="sixth">
      <ion-item slot="header" class="ion-no-padding ">
        <ion-label class="accordion-lbl no-border">Business Use of Home - Simplified Method</ion-label>
      </ion-item>
      <ion-list class="ion-padding" slot="content" class="ion-no-padding ">
        <ion-row>
          <ion-col size="12">
            <ion-text class="ion-text-box">
              <h1 class="ion-text-label">User Type(T/S)</h1>
            </ion-text>
            <ion-select placeholder="Select" class="ion-input-tag" [(ngModel)]="business_income_and_expenses.country">
              <ion-select-option value="apple">Apple</ion-select-option>
              <ion-select-option value="banana">Banana</ion-select-option>
              <ion-select-option value="orange">Orange</ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col size="12">
            <ion-text class="ion-text-box">
              <h1 class="ion-text-label">Total square footage of home office which is used exclusively for business
                purposes and is the principal place of the business</h1>
            </ion-text>
            <ion-item lines="none" class="ion-no-padding">
              <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
                [(ngModel)]="business_income_and_expenses.first_name_s"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-text class="ion-text-box">
              <h1 class="ion-text-label">Total area of the home (square feet)</h1>
            </ion-text>
            <ion-item lines="none" class="ion-no-padding">
              <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
                [(ngModel)]="business_income_and_expenses.first_name_s"></ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="12" class="ion-text-end">
            <ion-button class="add-btn">
              + Add Other
            </ion-button>
          </ion-col>

        </ion-row>
      </ion-list>
    </ion-accordion>

    <ion-accordion value="seventh">
      <ion-item slot="header" class="ion-no-padding ">
        <ion-label class="accordion-lbl no-border">Business Use of Home - Actual Cost (Optional)</ion-label>
      </ion-item>
      <ion-list class="ion-padding" slot="content" class="ion-no-padding ">
        <ion-row>
          <ion-col size="12">
            <ion-text class="ion-text-box">
              <h1 class="ion-text-label-headding">Mortgage Interest</h1>
            </ion-text>
          </ion-col>

          <ion-col size="6">
            <ion-text class="ion-text-box">
              <h1 class="ion-text-label">Direct Expenses</h1>
            </ion-text>
            <ion-item lines="none" class="ion-no-padding">
              <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
                [(ngModel)]="business_income_and_expenses.first_name_s"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-text class="ion-text-box">
              <h1 class="ion-text-label">Indirect Expenses</h1>
            </ion-text>
            <ion-item lines="none" class="ion-no-padding">
              <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
                [(ngModel)]="business_income_and_expenses.first_name_s"></ion-input>
            </ion-item>
          </ion-col>


          <ion-col size="12">
            <ion-text class="ion-text-box">
              <h1 class="ion-text-label-headding">Real Estate Taxes</h1>
            </ion-text>
          </ion-col>

          <ion-col size="6">
            <ion-text class="ion-text-box">
              <h1 class="ion-text-label">Direct Expenses</h1>
            </ion-text>
            <ion-item lines="none" class="ion-no-padding">
              <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
                [(ngModel)]="business_income_and_expenses.first_name_s"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-text class="ion-text-box">
              <h1 class="ion-text-label">Indirect Expenses</h1>
            </ion-text>
            <ion-item lines="none" class="ion-no-padding">
              <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
                [(ngModel)]="business_income_and_expenses.first_name_s"></ion-input>
            </ion-item>
          </ion-col>


          <ion-col size="12">
            <ion-text class="ion-text-box">
              <h1 class="ion-text-label-headding">Insurance</h1>
            </ion-text>
          </ion-col>

          <ion-col size="6">
            <ion-text class="ion-text-box">
              <h1 class="ion-text-label">Direct Expenses</h1>
            </ion-text>
            <ion-item lines="none" class="ion-no-padding">
              <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
                [(ngModel)]="business_income_and_expenses.first_name_s"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-text class="ion-text-box">
              <h1 class="ion-text-label">Indirect Expenses</h1>
            </ion-text>
            <ion-item lines="none" class="ion-no-padding">
              <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
                [(ngModel)]="business_income_and_expenses.first_name_s"></ion-input>
            </ion-item>
          </ion-col>


          <ion-col size="12">
            <ion-text class="ion-text-box">
              <h1 class="ion-text-label-headding">Repairs and Maintenance</h1>
            </ion-text>
          </ion-col>

          <ion-col size="6">
            <ion-text class="ion-text-box">
              <h1 class="ion-text-label">Direct Expenses</h1>
            </ion-text>
            <ion-item lines="none" class="ion-no-padding">
              <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
                [(ngModel)]="business_income_and_expenses.first_name_s"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-text class="ion-text-box">
              <h1 class="ion-text-label">Indirect Expenses</h1>
            </ion-text>
            <ion-item lines="none" class="ion-no-padding">
              <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
                [(ngModel)]="business_income_and_expenses.first_name_s"></ion-input>
            </ion-item>
          </ion-col>


          <ion-col size="12">
            <ion-text class="ion-text-box">
              <h1 class="ion-text-label-headding">Utilities</h1>
            </ion-text>
          </ion-col>

          <ion-col size="6">
            <ion-text class="ion-text-box">
              <h1 class="ion-text-label">Direct Expenses</h1>
            </ion-text>
            <ion-item lines="none" class="ion-no-padding">
              <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
                [(ngModel)]="business_income_and_expenses.first_name_s"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-text class="ion-text-box">
              <h1 class="ion-text-label">Indirect Expenses</h1>
            </ion-text>
            <ion-item lines="none" class="ion-no-padding">
              <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
                [(ngModel)]="business_income_and_expenses.first_name_s"></ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="12">
            <ion-text class="ion-text-box">
              <h1 class="ion-text-label-headding">Rent</h1>
            </ion-text>
          </ion-col>

          <ion-col size="6">
            <ion-text class="ion-text-box">
              <h1 class="ion-text-label">Direct Expenses</h1>
            </ion-text>
            <ion-item lines="none" class="ion-no-padding">
              <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
                [(ngModel)]="business_income_and_expenses.first_name_s"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-text class="ion-text-box">
              <h1 class="ion-text-label">Indirect Expenses</h1>
            </ion-text>
            <ion-item lines="none" class="ion-no-padding">
              <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
                [(ngModel)]="business_income_and_expenses.first_name_s"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-list>
    </ion-accordion>
    <ion-accordion value="eight">
      <ion-item slot="header" class="ion-no-padding ">
        <ion-label class="accordion-lbl no-border">Business Use of Vehicle</ion-label>
      </ion-item>
      <ion-list class="ion-padding" slot="content" class="ion-no-padding ">
        <ion-row>
          <ion-col size="12">
            <ion-text class="ion-text-box">
              <h1 class="ion-text-label">User Type(T/S)</h1>
            </ion-text>
            <ion-select placeholder="Select" class="ion-input-tag" [(ngModel)]="business_income_and_expenses.country">
              <ion-select-option value="apple">Apple</ion-select-option>
              <ion-select-option value="banana">Banana</ion-select-option>
              <ion-select-option value="orange">Orange</ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col size="12">
            <ion-text class="ion-text-box">
              <h1 class="ion-text-label">Vehicle Description</h1>
            </ion-text>
            <ion-item lines="none" class="ion-no-padding">
              <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
                [(ngModel)]="business_income_and_expenses.first_name_s"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-text class="ion-text-box">
              <h1 class="ion-text-label">Date placed in service</h1>
            </ion-text>
            <ion-item lines="none" class="ion-no-padding posRelative">
              <input class="ion-input-tag date" [(ngModel)]="business_income_and_expenses.date_of_birth_t"
                [matDatepicker]="t_dob" (click)="t_dob.open()" placeholder="Select Date" readonly>
              <mat-datepicker #t_dob color="primary"></mat-datepicker>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-text class="ion-text-box">
              <h1 class="ion-text-label">Cost/fair market value</h1>
            </ion-text>
            <ion-item lines="none" class="ion-no-padding">
              <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
                [(ngModel)]="business_income_and_expenses.first_name_s"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-text class="ion-text-box">
              <h1 class="ion-text-label">Total business miles</h1>
            </ion-text>
            <ion-item lines="none" class="ion-no-padding">
              <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
                [(ngModel)]="business_income_and_expenses.first_name_s"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-text class="ion-text-box">
              <h1 class="ion-text-label">Total commuting miles</h1>
            </ion-text>
            <ion-item lines="none" class="ion-no-padding">
              <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
                [(ngModel)]="business_income_and_expenses.first_name_s"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-text class="ion-text-box">
              <h1 class="ion-text-label">Total personal miles</h1>
            </ion-text>
            <ion-item lines="none" class="ion-no-padding">
              <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
                [(ngModel)]="business_income_and_expenses.first_name_s"></ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="12">
            <ion-checkbox labelPlacement="end" [(ngModel)]="business_income_and_expenses.taxpayer_legally_blind"><span
                class="ion-text-wrap">Do you have another
                vehicle available for personal use?</span></ion-checkbox>
            <ion-checkbox labelPlacement="end" [(ngModel)]="business_income_and_expenses.taxpayer_disabled"><span
                class="ion-text-wrap">Do
                you have evidence to support
                your deduction?</span></ion-checkbox>
          </ion-col>
          <ion-col size="12" class="ion-text-end">
            <ion-button class="add-btn">
              + Add Other
            </ion-button>
          </ion-col>

        </ion-row>
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>

  <ion-row>
    <ion-col size="6">
      <ion-button expand="block" class="btn-outline" (click)="prev()">
        <ion-icon slot="start" mode="ios" name="chevron-back-outline"></ion-icon>
        Previous</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="block" class="btn-save-nxt" (click)="next()">Save & Next
        <ion-icon slot="end" mode="ios" name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>