<ion-content class="ion-padding">
  <div class="icon-div">
    <ion-icon name="close-outline" size="large" (click)="cancel()"></ion-icon>
  </div>
  <h3 class="heading">OTP Verification</h3>
  <p class="text">We have sent OTP on your register Email ID </p>
  <!-- <span>moha*******@gmail.com</span> -->
  <ion-row text-center>
    <ion-col>
      <ion-input type="tel" [legacy]="true" placeholder="_" [(ngModel)]="otp.first" #otp1 required maxLength="1" (keyup)="otpController($event,otp2,'')">
      </ion-input>
      <ion-input type="tel" [legacy]="true" placeholder="_" [(ngModel)]="otp.second" #otp2 required maxLength="1" (keyup)="otpController($event,otp3,otp1)">
      </ion-input>
      <ion-input type="tel" [legacy]="true" placeholder="_" [(ngModel)]="otp.third" #otp3 required maxLength="1" (keyup)="otpController($event,otp4,otp2)">
      </ion-input>
      <ion-input type="tel" [legacy]="true" placeholder="_" [(ngModel)]="otp.forth" #otp4 required maxLength="1" (keyup)="otpController($event,otp5,otp3)">
      </ion-input>
      <ion-input type="tel" [legacy]="true" placeholder="_" [(ngModel)]="otp.fifth" #otp5 required maxLength="1" (keyup)="otpController($event,otp6,otp4)">
      </ion-input>
      <ion-input type="tel" [legacy]="true" placeholder="_" [(ngModel)]="otp.sixth" #otp6 required maxLength="1" (keyup)="otpController($event,'',otp5)">
      </ion-input>
    </ion-col>
  </ion-row>

  <ion-button expand="block" class="sign-in-btn" (click)="loginWithOTP()">Verify</ion-button>

  <p class="dd">Didn’t receive OTP?</p>
  <p class="send-again">Request Again</p>
</ion-content>