<ion-content class="ion-padding">
  <ion-row class="header">
    <ion-col size="2"></ion-col>
    <ion-col size="8">
      <h4>Forgot Password</h4>
    </ion-col>
    <ion-col size="2"><ion-icon name="close-outline" size="large" (click)="cancel()"></ion-icon></ion-col>
  </ion-row>
  <!-- <h3 class="heading">Forgot Password</h3> -->
  <p class="text">Please enter your email Id and We will send password on your register Email ID.</p>
  <ion-text class="ion-text-box">
    <h1>User Name</h1>
  </ion-text>
  <ion-item lines="none" class="ion-no-padding">
    <ion-input name="email" type="text" [(ngModel)]="email" class="ion-input-tag" placeholder="Enter email ID"></ion-input>
  </ion-item>

  <ion-button expand="block" class="sign-in-btn" (click)="sendMail()">Send Email</ion-button>
</ion-content>