<ion-content [fullscreen]="true">
  <ion-item lines="none" class="top-img-item">
    <ion-img src="./assets/icon/logo_small.svg" class="login-image"></ion-img>
  </ion-item>

  <ion-grid class="ion-padding">
    <h1>Sign in</h1>
    <ion-note>Kindly enter your user name & password for sign in.</ion-note>
    <ion-list>
      <ion-text class="ion-text-box">
        <h1>User Name</h1>
      </ion-text>
      <ion-item lines="none" class="ion-no-padding">
        <ion-input [legacy]="true" type="text" [(ngModel)]="username" placeholder="Enter user name" class="ion-input-tag"></ion-input>
      </ion-item>
      <ion-text class="ion-text-box">
        <h1>Password</h1>
      </ion-text>
      <ion-item lines="none" class="ion-no-padding">
        <ion-input [legacy]="true" [type]="type" [(ngModel)]="password" placeholder="Enter user name" class="ion-input-tag"></ion-input>
        <ion-img src="./assets/icon/eye.svg" alt="eye" class="position-abslt" (click)="toggleEye()"></ion-img>
      </ion-item>
      <ion-item lines="none" class="ion-no-padding">
        <ion-label class="forgot-pswd" (click)="forgotPopup()">Forgot Password?</ion-label>
      </ion-item>
      <ion-button expand="block" class="sign-in-btn" (click)="signIn()">Sign In</ion-button>
      <ion-text class="or-text">Or</ion-text>
      <ion-button expand="block" class="cont-otp" id="open-action-sheet" (click)="loginViaOTP()">Continue With OTP</ion-button>
    </ion-list>
  </ion-grid>
</ion-content>