<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" (ionWillOpen)="showDetails()">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-row class="ion-align-items-center">
            <ion-col size="3">
              <ion-avatar class="profile-pic">
                <img [src]="profile_pic ? profile_pic : './assets/icon/my_profile.svg'" alt="profile-img" />
              </ion-avatar>
            </ion-col>
            <ion-col size="9">
              <ion-note>Hey <span class="name">{{name}}</span>,
                Welcome to <span class="org_name">{{org_name}}</span></ion-note>
            </ion-col>
          </ion-row>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-img [src]="p.icon" alt="p.icon" slot="start" class="menu-icons"></ion-img>
              <ion-label>{{ p.title }}</ion-label>
              <ion-icon aria-hidden="true" slot="end" ios="chevron-forward-outline" md="chevron-forward-sharp"
                class="right-arrow"></ion-icon>
            </ion-item>
          </ion-menu-toggle>
          <!-- <ion-menu-toggle auto-hide="false" (click)="performBiometricVerificatin()">
            <ion-item routerDirection="root" lines="none" detail="false">
              <ion-img src="./assets/icon/signout.svg" alt="logout" slot="start" class="menu-icons"></ion-img>
              <ion-label>Biometric</ion-label>
              <ion-icon aria-hidden="true" slot="end" ios="chevron-forward-outline" md="chevron-forward-sharp" class="right-arrow"></ion-icon>
            </ion-item>
          </ion-menu-toggle> -->
          <ion-menu-toggle auto-hide="false" (click)="presentLogoutAlert()">
            <ion-item routerDirection="root" lines="none" detail="false">
              <ion-img src="./assets/icon/signout.svg" alt="logout" slot="start" class="menu-icons"></ion-img>
              <ion-label>Log Out</ion-label>
              <ion-icon aria-hidden="true" slot="end" ios="chevron-forward-outline" md="chevron-forward-sharp"
                class="right-arrow"></ion-icon>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
  <!-- <ion-loading trigger="open-loading" message="Loading..." [duration]="3000" spinner="circles"></ion-loading> -->
</ion-app>