.section_name {
  border: 0.5px solid #92479B;
  background: linear-gradient(0deg, #FCE6FF, #FCE6FF);
  padding: 1%;
  margin: 0 3%;
  border-radius: 6px;
  color: #92479B;
  align-items: center;

  .number {
    background: #92479B;
    color: #fff;
    border-radius: 100%;
    // margin-right: 3%;
    display: inline-block;
    width: 22px;
    height: 22px;
    text-align: center;
    font-size: .9em;
    padding: 1px;
  }

  ion-text {
    font-family: Poppins;
    font-size: .9em;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
  }

  .second-col{
    padding-left: 10px;
  }
}
