<ion-header [translucent]="true" class="ion-no-border">
  <app-back-header title="Tax Organizer"></app-back-header>
</ion-header>

<ion-content [fullscreen]="true">
  <p class="section_name">
    <ion-text class="number">1</ion-text>
    <ion-text>PERSONAL INFORMATION</ion-text>
  </p>
  <app-personal-info></app-personal-info>
  <!-- <app-estimated-tax></app-estimated-tax>
  <app-direct-deposite></app-direct-deposite>
  <app-salary-wage></app-salary-wage>
  <app-investment-income></app-investment-income> -->
</ion-content>