<ion-header [translucent]="true" class="ion-no-border">
  <app-back-header title="Tax Organizer"></app-back-header>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row class="section_name">
    <ion-col size="1"><span class="number">{{step}}</span></ion-col>
    <ion-col class="second-col"> <ion-text>{{step_names[step]}}</ion-text></ion-col>
  </ion-row>
  <app-personal-info (pageChange)="next($event)" *ngIf="step==1"></app-personal-info>
  <app-estimated-tax (pageChange)="next($event)" *ngIf="step==2"></app-estimated-tax>
  <app-direct-deposite (pageChange)="next($event)" *ngIf="step==3"></app-direct-deposite>
  <app-salary-wage (pageChange)="next($event)" *ngIf="step==4"></app-salary-wage>
  <app-investment-income (pageChange)="next($event)" *ngIf="step==5"></app-investment-income>
</ion-content>