<ion-content [fullscreen]="true" class="ion-padding ion-content-scroll">
  <p class="taxpayer-text">IRS Tax Payments</p>
  <ion-row>
    <ion-col size="12">
      <p class="taxpayer-quarter">Quarter 1, 2023</p>
    </ion-col>
    <ion-col size="6">

      <p class="ion-text-label">Amount Paid</p>

      <ion-item lines="none" class="ion-no-padding">
        <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
          [(ngModel)]="estimated_tax.q1_ris1_amount_paid" inputAmountFormat></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="6">

      <p class="ion-text-label">Paid Date</p>

      <ion-item lines="none" class="ion-no-padding posRelative datepicker">
        <input class="ion-input-tag date" [matDatepicker]="q1_ris1_date" [(ngModel)]="estimated_tax.q1_ris1_date"
          (click)="q1_ris1_date.open()" placeholder="Select Date" readonly>
        <mat-datepicker #q1_ris1_date color="primary"></mat-datepicker>
      </ion-item>
    </ion-col>

    <ion-col size="12">

      <p class="taxpayer-quarter">Quarter 2, 2023</p>

    </ion-col>
    <ion-col size="6">

      <p class="ion-text-label">Amount Paid</p>

      <ion-item lines="none" class="ion-no-padding">
        <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
          [(ngModel)]="estimated_tax.q2_ris1_amount_paid" inputAmountFormat></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="6">

      <p class="ion-text-label">Paid Date</p>

      <ion-item lines="none" class="ion-no-padding posRelative">
        <input class="ion-input-tag date" [matDatepicker]="q2_ris1_date" [(ngModel)]="estimated_tax.q2_ris1_date"
          (click)="q2_ris1_date.open()" placeholder="Select Date" readonly>
        <mat-datepicker #q2_ris1_date color="primary"></mat-datepicker>
      </ion-item>
    </ion-col>

    <ion-col size="12">

      <p class="taxpayer-quarter">Quarter 3, 2023</p>

    </ion-col>
    <ion-col size="6">

      <p class="ion-text-label">Amount Paid</p>

      <ion-item lines="none" class="ion-no-padding">
        <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
          [(ngModel)]="estimated_tax.q3_ris1_amount_paid" inputAmountFormat></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="6">

      <p class="ion-text-label">Paid Date</p>

      <ion-item lines="none" class="ion-no-padding posRelative">
        <input class="ion-input-tag date" [matDatepicker]="q3_ris1_date" [(ngModel)]="estimated_tax.q3_ris1_date"
          (click)="q3_ris1_date.open()" placeholder="Select Date" readonly>
        <mat-datepicker #q3_ris1_date color="primary"></mat-datepicker>
      </ion-item>
    </ion-col>

    <ion-col size="12">

      <p class="taxpayer-quarter">Quarter 4, 2023</p>

    </ion-col>
    <ion-col size="6">

      <p class="ion-text-label">Amount Paid</p>

      <ion-item lines="none" class="ion-no-padding">
        <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
          [(ngModel)]="estimated_tax.q4_ris1_amount_paid" inputAmountFormat></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="6">

      <p class="ion-text-label">Paid Date</p>

      <ion-item lines="none" class="ion-no-padding posRelative">
        <input class="ion-input-tag date" [matDatepicker]="q4_ris1_date" [(ngModel)]="estimated_tax.q4_ris1_date"
          (click)="q4_ris1_date.open()" placeholder="Select Date" readonly>
        <mat-datepicker #q4_ris1_date color="primary"></mat-datepicker>
      </ion-item>
    </ion-col>
    <ion-col size="12">
      <p class="taxpayer-text">State Tax Payments</p>
    </ion-col>
    <ion-col size="12">

      <p class="ion-text-label">State</p>

      <ion-item lines="none" class="ion-no-padding">
        <ion-select placeholder="Select" class="ion-input-tag">
          <ion-select-option value="apple">Apple</ion-select-option>
          <ion-select-option value="banana">Banana</ion-select-option>
          <ion-select-option value="orange">Orange</ion-select-option>
        </ion-select>
        <ion-img src="assets/icon/arrow-down.svg" class="arrow-down-img"></ion-img>
      </ion-item>
    </ion-col>
    <ion-col size="6">

      <p class="ion-text-label">Amount Paid</p>

      <ion-item lines="none" class="ion-no-padding">
        <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
          [(ngModel)]="estimated_tax.q1_state1_amount_paid" inputAmountFormat></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <p class="ion-text-label">Paid Date</p>
      <ion-item lines="none" class="ion-no-padding posRelative">
        <input class="ion-input-tag date" [matDatepicker]="q1_state1_date" [(ngModel)]="estimated_tax.q1_state1_date"
          (click)="q1_state1_date.open()" placeholder="Select Date" readonly>
        <mat-datepicker #q1_state1_date color="primary"></mat-datepicker>
      </ion-item>
    </ion-col>

    <ion-col size="6">
      <p class="ion-text-label">Amount Paid</p>
      <ion-item lines="none" class="ion-no-padding">
        <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
          [(ngModel)]="estimated_tax.q2_state1_amount_paid" inputAmountFormat></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <p class="ion-text-label">Paid Date</p>
      <ion-item lines="none" class="ion-no-padding posRelative">
        <input class="ion-input-tag date" [matDatepicker]="q2_state1_date" [(ngModel)]="estimated_tax.q2_state1_date"
          (click)="q2_state1_date.open()" placeholder="Select Date" readonly>
        <mat-datepicker #q2_state1_date color="primary"></mat-datepicker>
      </ion-item>
    </ion-col>

    <ion-col size="6">

      <p class="ion-text-label">Amount Paid</p>

      <ion-item lines="none" class="ion-no-padding">
        <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
          [(ngModel)]="estimated_tax.q3_state1_amount_paid" inputAmountFormat></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="6">

      <p class="ion-text-label">Paid Date</p>

      <ion-item lines="none" class="ion-no-padding posRelative">
        <input class="ion-input-tag date" [matDatepicker]="q3_state1_date" [(ngModel)]="estimated_tax.q3_state1_date"
          (click)="q3_state1_date.open()" placeholder="Select Date" readonly>
        <mat-datepicker #q3_state1_date color="primary"></mat-datepicker>
      </ion-item>
    </ion-col>

    <ion-col size="6">

      <p class="ion-text-label">Amount Paid</p>

      <ion-item lines="none" class="ion-no-padding">
        <ion-input [legacy]="true" type="text" placeholder="Enter" class="ion-input-tag"
          [(ngModel)]="estimated_tax.q4_state1_amount_paid" inputAmountFormat></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="6">

      <p class="ion-text-label">Paid Date</p>

      <ion-item lines="none" class="ion-no-padding posRelative">
        <input class="ion-input-tag date" [matDatepicker]="q4_state1_date" [(ngModel)]="estimated_tax.q4_state1_date"
          (click)="q4_state1_date.open()" placeholder="Select Date" readonly>
        <mat-datepicker #q4_state1_date color="primary"></mat-datepicker>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="block" class="btn-outline" (click)="prev()">
        <ion-icon slot="start" mode="ios" name="chevron-back-outline"></ion-icon>
        Previous</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="block" class="btn-save-nxt" (click)="next()">Save & Next
        <ion-icon slot="end" mode="ios" name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>