<ion-header [translucent]="true" class="ion-no-border">
  <app-back-header title="Tax Organizer"></app-back-header>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="cards" *ngFor="let step of timeline;let i=index">
    <ion-card-header class="border-bottom" (click)="gotoPage(step.name)">
      <span class="statusBg"
        [ngClass]="{'activeStatusbg': !step.completed,'completeStatusbg':step.completed}">{{step.status}}</span>
      <ion-item lines="none" class="margin-top-4">
        <ion-avatar slot="start">
          <img [src]="imgArr[i].img" />
        </ion-avatar>
        <ion-label>
          <h2>{{step.name}}</h2>
          <h3><b>ETA: <span class="date">{{step.date | date}}</span></b></h3>
        </ion-label>
      </ion-item>
      <ion-item class="buttons" *ngIf="isVisible(step.name,i)  && !step.completed">
        <ion-button size="small" class="accept-btn">Accept</ion-button>
        <ion-button size="small" class="reject-btn">Reject</ion-button>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-accordion-group>
        <ion-accordion>
          <ion-item slot="header">
            <ion-label>Attachments</ion-label>
          </ion-item>
          <div slot="content">
            <ion-item *ngIf="step.file.length<1">
              <ion-label>(No attachments)</ion-label>
            </ion-item>
            <ion-list *ngIf="step.file.length>0">
              <ion-item *ngFor="let attach of step.file; let index">
                <ion-avatar slot="start">
                  <img [src]="attach.file" [alt]="attach.title" />
                </ion-avatar>
                <ion-label>{{attach.title}}</ion-label>
              </ion-item>
            </ion-list>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-card-content>
  </ion-card>
</ion-content>