<ion-header [translucent]="true" class="ion-no-border">
  <app-back-header title="Documents"></app-back-header>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar placeholder="Search" [debounce]="1000" [(ngModel)]="filterTerm" (ionInput)="onSearchInput($event)"
    class="custom"></ion-searchbar>
  <h5>Document List <span class="add-text" (click)="addDocument()">Add New</span></h5>

  <ion-list>
    <ion-card *ngFor="let item of documents | filters: filterTerm">
      <ion-card-content>
        <ion-item>
          <ion-img src="./assets/icon/three_dot.svg" class="dots" (click)="showOptions($event,item)"></ion-img>
          <ion-avatar slot="start">
            <img [alt]="item.title" [src]="commonService.getAttachmentIcon(item.file)" />
          </ion-avatar>
          <ion-label>
            <h2>{{item.title}}</h2>
            <p>Uploaded Date: <b>{{item.updated_date | date}}</b></p>
            <p>Uploaded Time: <b>{{item.updated_date | date : 'hh:mm a'}}</b></p>
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-list>



</ion-content>