.box {
  border: 1.82px solid;
  border-image-source: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 4.17%, rgba(255, 255, 255, 0) 81.25%, #FFFFFF 100%);
  width: 47%;
  margin: 1% 1.5%;
  display: inline-grid;
  border-radius: 8px;
  height: 125px;
  background: linear-gradient(201.38deg, rgba(255, 255, 255, 0.1) 11.69%, rgba(100, 193, 222, 0.1) 92.17%);

  ion-img {
    width: 40px;
    height: 40px;
    top: 7px;
    right: 7px;
    position: absolute;
  }

  .lbl {
    font-size: 5vw;
    color: #242629;
    padding: 4%;
    font-family: 'Poppins';
    font-weight: 500;
  }

  .count {
    padding: 0 8%;
    font-size: 2.2em;
    font-weight: 500;
    color: #222222;
    margin: 0;
  }
}

.box:nth-of-type(odd) {
  border-radius: 32px 32px 8px 32px;
}

.box:nth-of-type(even) {
  border-radius: 32px 32px 32px 8px;
}

.heading {
  text-align: left;
  color: #92479B;
  font-size: 1.1em;
  font-weight: 600;
  letter-spacing: 0em;
  text-align: left;
  margin: 1% 0% 0 5%;
}

.year-select {
  width: 22% !important;
  padding: 0 3% !important;
  height: 30px !important;
  float: inline-end;
  margin-right: 5%;
}
